<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Курсы</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        {% include 'layouts/header.html' %}

        <div>
            {% block content %}
            {% endblock %}
        </div>

    <footer class="bg-dark text-white py-4 bottom" >
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5>Contact Us</h5>
            <p>Email: contact@example.com</p>
            <p>Phone: +123-456-7890</p>
          </div>
          <div class="col-md-6">
            <h5>Follow Us</h5>
            <a href="#" class="text-white"><i class="fab fa-facebook-f mr-2"></i>Facebook</a><br>
            <a href="#" class="text-white"><i class="fab fa-twitter mr-2"></i>Twitter</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.




    5.2/js/bootstrap.min.js"></script>


    </body>

</html>