.main-content {
    display: grid;
    grid-template-columns: 20rem auto
}
.left-menu {
    background: #fff;
    border-radius: 10px;
}

.right-menu {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    margin-left: 2rem;
}
.up-down {
    display: none;
}
.lessons {
    margin: 2rem;
    background:  rgb(248, 249,250);
    padding: 1rem;
    border: 1px solid ;
    border-radius: 10px;
    border-color: #CBC8C8;
}
.lessons a {
   padding-left: 2rem;
}
.lesson-name {
    display: grid;
    grid-template-columns: auto;
}

iframe {
    width: 1000px;
    height: 700px;
}



@media only screen and (max-width: 1024px) {
    iframe {
        width: 700px;
        height: 400px;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .left-menu {
        width: auto;
        font-size: 14px;

    }
}

@media only screen and (max-width: 768px) {
    .up-down {
        display: block;
    }
    .lesson-name {
        display: none;
    }
    .left-menu {
        padding: 10px;
        margin-bottom: 1rem;
    }
    .right-menu {
        margin: 0;
    }
    .lesson-name {
        display: grid;
        grid-template-columns: auto;
    }
    iframe {
        width: 500px;
        height: 300px;
    }
    .main-content{
        all: unset;
    }

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px
    }


}
@media only screen and (max-width: 425px) {
    iframe {
        width: 300px;
        height: 200px;
    }

     input {
      font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    iframe {
        width: 200px;
        height: 200px;
    }

}