.main-content {
    display: grid;
    grid-template-columns: 20rem auto
}
.left-menu {
    background: #fff;
    border-radius: 10px;
}

.right-menu {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    margin-left: 2rem;
}
.up-down {
    display: none;
}
.lessons {
    margin: 2rem;
    background:  rgb(248, 249,250);
    padding: 1rem;
    border: 1px solid ;
    border-radius: 10px;
    border-color: #CBC8C8;
}
.lessons a {
   padding-left: 2rem;
}
.lesson-name {
    display: grid;
    grid-template-columns: auto;
}
.ls-menu {
    border: solid #CBC8C8;
    border-radius: 5px;
    padding: 10px;
}
.course-img {
     /*background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp');*/
     height: 200px;
     border-radius: 10px;
    margin-bottom: 2rem;
}
.course-title {
    text-align: center; padding-top: 10%
}



@media only screen and (max-width: 1024px) {

    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .left-menu {
        width: auto;
        font-size: 14px;

    }
}

@media only screen and (max-width: 768px) {
    .up-down {
        display: block;
    }
    .lesson-name {
        display: none;
    }
    .left-menu {
        padding: 10px;
        margin-bottom: 1rem;
    }
    .right-menu {
        margin: 0;
    }
    .lesson-name {
        display: grid;
        grid-template-columns: auto;
    }

    .main-content{
        all: unset;
    }

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px
    }

    .course-img{
     height: 150px;
        margin-bottom: 2rem;
    }
    .course-title {
        padding-top: 15%
    }

     h1 {
        font-size: 24px;
    }


}
@media only screen and (max-width: 425px) {


     input {
      font-size: 12px;
    }
     .course-img{
        height: 100px;
    }
    .course-title {
        padding-top: 20%
    }
    h1 {
        font-size: 20px;
    }
}

