section {
      padding: 20px 0;
      overflow: hidden;
}
.content {
    margin: 0;
    padding: 0;
}

.base {
    display: grid;
    grid-template-columns: 20rem auto;
}
.main-section {
    background: #fff;
    margin: 1rem;
    border-radius: 10px;

}
.sidebar {
    min-height: 100vh;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    background: #fff;

   /*position: fixed;*/

}
.sm-desc {
    margin: 1.5rem;
    border: 1px solid;
    border-color: #CBC8C8;
    /*{#border-color: #007bff;#}*/
    box-shadow: 10px 5px 5px #007bff;
    /*box-shadow: 3px 3px #dae0e5, -1em 0 .4em #007bff;*/
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
span {
    color: #007bff;
}


 @media only screen and (max-width: 1024px) {
     .base {
         display: block;
     }

    .sidebar {
        padding: 15px;
    }
}
@media only screen and (max-width: 768px) {
     .base {
         display: block;
     }
    .sidebar {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 15px;
    }
    .sidebar-icon {
    margin-right: 5px;
    }
    .sidebar {
        min-height: 50vh;
    }
    .btn {
        font-size: 14px;
    }
}





/*{#WELCOME SECTION#}*/

.hero-animated {
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    position: relative;
}
.hero-animated h2 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 300;
}

.hero-animated h2 span {
  color: #007bff;
}

.hero-animated p {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 400;
}

.hero-animated .animated {
  margin-bottom: 60px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 992px) {
  .hero-animated .animated {
    max-width: 45%;
  }
}

@media (max-width: 991px) {
  .hero-animated .animated {
    max-width: 60%;
  }
}

@media (max-width: 575px) {
  .hero-animated .animated {
    max-width: 80%;
  }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


.featured-services .service-item {
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
  height: 100%;
}

.featured-services .service-item .icon {
  margin-bottom: 10px;
}

.featured-services .service-item .icon i {
  color: rgba(0, 123, 255, 0.78);
  font-size: 36px;
  transition: 0.3s;
}

.featured-services .service-item h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 24px;
}

.featured-services .service-item h4 a {
  color: #0d6efd;
  transition: ease-in-out 0.3s;
}

.featured-services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.featured-services .service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0 60px 0 rgba(72, 86, 100, 0.1);
}

.featured-services .service-item:hover h4 a {
  color: #007bff;
}




.cta {
  padding: 0;
  margin-bottom: 60px;
}

.cta .container {
  padding: 80px;
  /*background: #f8f9fa!important;*/
  /*border-radius: 15px;*/
}

@media (max-width: 992px) {
  .cta .container {
    padding: 60px;
  }
}


.cta .content h3 {
  color: #485664;
  font-size: 48px;
  font-weight: 700;
}

.cta .content h3 em {
  font-style: normal;
  position: relative;
}

.cta .content h3 em:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 10px;
  background: #007bff;
  z-index: -1;
}

.cta .content p {
  color: #485664;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 425px) {
   .cta .content h3 {
       font-size: 30px;
   }
   .cta .content p {
      font-size: 14px;
    }
}

.cta .img {
  position: relative;
}

.cta .img:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  transform: rotate(12deg);
}

.cta .img:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  transform: rotate(6deg);
}

.cta .img img {
  position: relative;
  z-index: 3;
  border-radius: 15px;
}


.about .about-img {
  position: relative;
  margin: 60px 0 0 60px;
}

.about .about-img:before {
  position: absolute;
  inset: -60px 0 0 -60px;
  z-index: -1;
  content: "";
  background: url("{% static 'img/about-bg.png' %}") top left;
  background-repeat: no-repeat;
}

@media (max-width: 575px) {
  .about .about-img {
    margin: 30px 0 0 30px;
  }

  .about .about-img:before {
    inset: -30px 0 0 -30px;
  }
}

.about h3 {
  color: #485664;
  /*{#font-family: var(--font-secondary);#}*/
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about h3 {
    font-size: 28px;
  }
}

.about .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #485664;
}

.about .tab-content i {
  font-size: 22px;
  line-height: 0;
  margin-right: 8px;
  color: #007bff;
}
.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #485664;
}

.section-header p {
  margin: 0 auto;
  color: #485664;
}

@media (min-width: 1280px) {
  .section-header p {
    max-width: 80%;
  }
}