{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="content container-fluid">
        <div class="row p-0 m-0 base">
            <div class="sidebar   pt-5">
                <div class = "sm-desc">
                    <button href="#" class="btn btn-outline-primary btn-block mb-3" disabled>Метематика</button>
                    <p> Математика (гр. μάθημα — ғылым, білім, оқу; μαθηματικός — білуге құштарлық) —
                        ақиқат дүниенің сандық қатынастары мен кеңістік пішіндері жайлы ғылым
                    </p>
                </div>
            </div>
            <div class = "main-section">
                <section id="hero-animated" class="hero-animated d-flex align-items-center">
                    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
                      <img src="{% static 'img/welcome.svg' %}" class="img-fluid animated" style="height: 350px;">
                      <h2>Welcome to <span>Математика</span></h2>
                      <p>Курс бырнарсе шырнарсе</p>
                    </div>
                </section>

                <section id="course" class="cta">
                    <div class="container" data-aos="zoom-out">
                        <div class="row g-5">
                            <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                                <h3>Description <em>About</em> akla hic minima</h3>
                                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
                                <div class="img">
                                    <img src="{% static 'img/desk.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

               <section id="teacher" class="featured-services">
                   <div class="container">
                    <div class="row gy-4">

                      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
                        <div class="service-item position-relative">
                          <div class="icon"><i class="fas fa-book sidebar-icon"></i></div>
                          <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                          <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                      </div>

                      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                          <div class="icon"><i class="fas fa-school sidebar-icon"></i></div>
                          <h4><a href="" class="stretched-link">Sed ut perspici</a></h4>
                          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                      </div>

                      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
                        <div class="service-item position-relative">
                          <div class="icon"><i class="fas fa-list sidebar-icon"></i> </div>
                          <h4><a href="" class="stretched-link">Magni Dolores</a></h4>
                          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                      </div>

                      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
                        <div class="service-item position-relative">
                          <div class="icon"><i class="fas fa-star sidebar-icon"></i></div>
                          <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                      </div>
                    </div>
                   </div>
               </section>
                <section id="about" class="about">
                  <div class="container" data-aos="fade-up">

                    <div class="section-header">
                      <h2>About Us</h2>
                      <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam voluptas asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p>
                    </div>

                    <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                      <div class="col-lg-5">
                        <div class="about-img">
                          <img src="{% static 'img/about.png' %}" class="img-fluid" alt="">
                        </div>
                      </div>

                      <div class="col-lg-7">
                        <h3 class="pt-0 pt-lg-5">Neque officiis dolore maiores et exercitationem quae est seda lidera pat claero</h3>

                        <div class="tab-content">

                          <div class="tab-pane fade show active" id="tab1">

                            <p class="fst-italic">Consequuntur inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

                            <div class="d-flex align-items-center mt-4">
                              <i class="bi bi-check2"></i>
                              <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                            </div>
                            <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

                            <div class="d-flex align-items-center mt-4">
                              <i class="bi bi-check2"></i>
                              <h4>Incidunt non veritatis illum ea ut nisi</h4>
                            </div>
                            <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

                            <div class="d-flex align-items-center mt-4">
                              <i class="bi bi-check2"></i>
                              <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
                            </div>
                            <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

                          </div>


                        </div>

                      </div>

                    </div>

                  </div>
                </section>

            </div>

        </div>
    </div>

{% endblock %}

